<section class="hero is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to 'Friends Trivia', root_path, class: 'navbar-item' %>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <%= link_to 'Home', root_path, class: 'navbar-item is-active' %>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= image_tag "friends-logo.png" %>
      </h1>
      <h2 class="subtitle">
        The best friends trivia game you will always regret playing.
      </h2>
      <div class="button is-link is-large">Start</div>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
  </div>
</section>
